@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "San Francisco";
}

.navbar img {
    float: left;
    display: block;
    max-width: 5%;
    height: auto;
    padding: 14px 20px;
}

.navbar input {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    border-radius: 20px;
    font-family: "San Francisco";
}

.navbar h1 {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "San Francisco";
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar input:hover {
    background-color: #ddd;
    color: black;
}

.listing p {
    float: center;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "San Francisco";
    font-size: 20px;
    padding: 25px 20px 0px 20px;
}

.external-link p {
    float: center;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "San Francisco";
    font-size: 15px;
    padding: 25px 20px 0px 20px;
}

.gallery-item {
    margin: 5px;
    float: left;
    width: 350px;
    height: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #F8F7F3;
}

.gallery-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.gallery-item img {
    width: 100%;
    height: 250px;
}

.title p {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.external-link {
    text-align: center;
    margin-top: auto;
}

.external-link p {
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thumbnail-container {
    display: inline-block;
    margin: 10px;
}

#thumbnail-container img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

#thumbnail p {
    margin-top: 5px;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#item1 {
    animation: slide-up 1.3s ease-in-out forwards;
}
#item2 {
    animation: slide-up 1.5s ease-in-out forwards;
}

#item3 {
    animation: slide-up 1.7s ease-in-out forwards;
}

#item4 {
    animation: slide-up 1.9s ease-in-out forwards;
}

#item5 {
    animation: slide-up 2.1s ease-in-out forwards;
}

.intro {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("/risk-engineering-aon/peakpx.jpg");
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.95);
    mix-blend-mode: multiply;
}

.intro p {
    text-align: center;
    text-decoration: none;
    font-family: "San Francisco";
    font-size: 30px;
    padding-top: 500px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    z-index: 1;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0px 20px;
}

.contact p {
    float: center;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "San Francisco";
    font-size: 23px;
    padding: 25px 20px 0px 20px;
}

.contact .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .box .gallery {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.contact .box .gallery img {
    width: 100%;
    padding-bottom: 15px;
}

#gallery1 {
    animation: slide-up 1.3s ease-in-out forwards;
}

#gallery2 {
    animation: slide-up 1.5s ease-in-out forwards;
}

#gallery3 {
    animation: slide-up 1.7s ease-in-out forwards;
}

.further {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 50px 0 50px 0;
}

.further-container {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

p.animated-text {
    font-family: "San Francisco";
    color: white;
    animation: slide-up 3s ease-in-out forwards;
}

.gallery-pagination {
    display: none;
}


@media (max-width: 750px) {
    .further {
        width: 100%;
    }

    .gallery-container {
        position: relative;
        overflow: hidden;
    }
    .gallery {
        display: flex;
        transition: transform 0.3s ease;
        width: max-content;
        white-space: nowrap;
    }

    .gallery-item {
        flex: 0 0 100%;
        display: inline-block;
    }

    .gallery-item img {
        max-width: 100%;
        height: 250px;
    }

    .gallery-pagination {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .gallery-pagination span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 4px;
        cursor: pointer;
    }

    .gallery-pagination .active {
        background-color: #333;
    }

}
